<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>idle_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>idle_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,0},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>idle_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,0},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>idle_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,54},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>idle_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,54},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>idle_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,54},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>idle_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,108},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>idle_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,108},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>idle_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,108},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>idle_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,162},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>idle_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,162},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>images</key>
		<array>
			<dict>
				<key>height</key>
				<integer>216</integer>
				<key>name</key>
				<string>idle.png</string>
				<key>width</key>
				<integer>258</integer>
			</dict>
		</array>
		<key>textureFileName</key>
		<string>idle.png</string>
	</dict>
</dict>
</plist>