<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArcaneJet-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{104,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{208,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{312,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{416,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-4-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{520,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-4-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{624,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{728,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{832,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{936,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{1040,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{1144,0},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ArcaneJet-bullet.png</string>
            <key>size</key>
            <string>{1248,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5b207aadd8e78f39ec1516b50f51dbe:137a8c6d7b39419367311471595b07eb:2542d4b4f5a9371ecb8e9b86a8da586f$</string>
            <key>textureFileName</key>
            <string>ArcaneJet-bullet.png</string>
        </dict>
    </dict>
</plist>
