<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArcaneJet-Action-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,75},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,150},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,225},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,300},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,375},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,450},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,525},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,600},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,675},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,750},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,825},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,900},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,975},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,1050},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,1125},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,1200},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,1275},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArcaneJet-Action-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{0,1350},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ArcaneJet.png</string>
            <key>size</key>
            <string>{62,1425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c22a192b7cd4a1049ce9998dec928ebe:1da0fac38e69ef2e6875dacddd829d63:95afc1fd9f0d5ab4a5888ded5d82c895$</string>
            <key>textureFileName</key>
            <string>ArcaneJet.png</string>
        </dict>
    </dict>
</plist>
