<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flameslash-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flameslash-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,75}</string>
                <key>spriteSourceSize</key>
                <string>{169,75}</string>
                <key>textureRect</key>
                <string>{{72,0},{169,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flameslash-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,75}</string>
                <key>spriteSourceSize</key>
                <string>{170,75}</string>
                <key>textureRect</key>
                <string>{{0,75},{170,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flameslash-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,75}</string>
                <key>spriteSourceSize</key>
                <string>{170,75}</string>
                <key>textureRect</key>
                <string>{{0,150},{170,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flameslash-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,75}</string>
                <key>spriteSourceSize</key>
                <string>{170,75}</string>
                <key>textureRect</key>
                <string>{{0,225},{170,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flameslash-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,75}</string>
                <key>spriteSourceSize</key>
                <string>{170,75}</string>
                <key>textureRect</key>
                <string>{{0,300},{170,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flameslash-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,75}</string>
                <key>spriteSourceSize</key>
                <string>{170,75}</string>
                <key>textureRect</key>
                <string>{{0,375},{170,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flameslash.png</string>
            <key>size</key>
            <string>{241,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7cadf47351b4bc51aca35c175b2e45b:db1ef08cf617031865d4f9302eac3181:f1fc38bd34c46df82fbaba77fd0773fb$</string>
            <key>textureFileName</key>
            <string>flameslash.png</string>
        </dict>
    </dict>
</plist>
