<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frozenspike-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozenspike-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{88,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozenspike-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{176,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozenspike-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{264,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozenspike-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{352,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozenspike-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{440,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozenspike-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{528,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozenspike-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{616,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozenspike-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{704,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozenspike-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{792,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozenspike-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{880,0},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FrozenSpike.png</string>
            <key>size</key>
            <string>{968,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f13284d06c10cafcda73352ba590b0e:426f0b28f3352ed942b4ee46db76bcb5:8d996a6c975f5d1db4d69d4ee08d05c8$</string>
            <key>textureFileName</key>
            <string>FrozenSpike.png</string>
        </dict>
    </dict>
</plist>
