<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IceSpear-Action-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{945,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceSpear-Action-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1548,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceSpear-Action-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1012,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceSpear-Action-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1079,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceSpear-Action-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1146,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceSpear-Action-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1213,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceSpear-Action-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1280,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceSpear-Action-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1347,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceSpear-Action-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1414,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceSpear-Action-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1481,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icespear-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,65}</string>
                <key>spriteSourceSize</key>
                <string>{135,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{135,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icespear-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,65}</string>
                <key>spriteSourceSize</key>
                <string>{135,65}</string>
                <key>textureRect</key>
                <string>{{135,0},{135,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icespear-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,65}</string>
                <key>spriteSourceSize</key>
                <string>{135,65}</string>
                <key>textureRect</key>
                <string>{{270,0},{135,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icespear-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,65}</string>
                <key>spriteSourceSize</key>
                <string>{135,65}</string>
                <key>textureRect</key>
                <string>{{405,0},{135,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icespear-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,65}</string>
                <key>spriteSourceSize</key>
                <string>{135,65}</string>
                <key>textureRect</key>
                <string>{{540,0},{135,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icespear-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,65}</string>
                <key>spriteSourceSize</key>
                <string>{135,65}</string>
                <key>textureRect</key>
                <string>{{675,0},{135,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icespear-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,65}</string>
                <key>spriteSourceSize</key>
                <string>{135,65}</string>
                <key>textureRect</key>
                <string>{{810,0},{135,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icespear.png</string>
            <key>size</key>
            <string>{1615,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:812018f3c9e44e300bf6a640d164ed46:7b9dab55056a59752482aead8688dba2:66d855fe69d47dedb436c754d48b51a9$</string>
            <key>textureFileName</key>
            <string>icespear.png</string>
        </dict>
    </dict>
</plist>
