<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle-0.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{36,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{71,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{106,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>idle-4.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{36,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>idle-5.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>idle-6.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{36,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false />
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{140,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abc3369a195b3a53ece63d9babd9ccd2:c5562411d7650682926c1ba40937fe6a:0e556067f91d62242bbcc8a39bcef4c3$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>