<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>processed_frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-47}</string>
                <key>spriteSize</key>
                <string>{464,650}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{651,925},{464,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-47}</string>
                <key>spriteSize</key>
                <string>{464,650}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{1303,925},{464,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-44}</string>
                <key>spriteSize</key>
                <string>{462,648}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{653,461},{462,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-44}</string>
                <key>spriteSize</key>
                <string>{458,650}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{458,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-43}</string>
                <key>spriteSize</key>
                <string>{458,650}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{653,1},{458,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-48}</string>
                <key>spriteSize</key>
                <string>{464,648}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{1,1385},{464,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-47}</string>
                <key>spriteSize</key>
                <string>{466,652}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{1303,1391},{466,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-46}</string>
                <key>spriteSize</key>
                <string>{462,646}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{1303,461},{462,646}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-43}</string>
                <key>spriteSize</key>
                <string>{458,650}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{1305,1},{458,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-43}</string>
                <key>spriteSize</key>
                <string>{458,650}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{1,461},{458,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-45}</string>
                <key>spriteSize</key>
                <string>{462,648}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{1,921},{462,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>processed_frame_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-47}</string>
                <key>spriteSize</key>
                <string>{464,650}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{651,1391},{464,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KnightIdle.png</string>
            <key>size</key>
            <string>{1956,1858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8179d94868aba995824bd60e95d30afe:853f0467505421a3bbacd8a95d9698be:34523dd345b188c7c105ea4e35d49360$</string>
            <key>textureFileName</key>
            <string>KnightIdle.png</string>
        </dict>
    </dict>
</plist>
