<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>animations</key>
        <dict>
            <key>idle</key>
            <dict>
                <key>delayPerUnit</key>
                <real>0.2</real>
                <key>restoreOriginalFrame</key>
                <true />
                <key>loops</key>
                <integer>1</integer>
                <key>frames</key>
                <array>
                    <dict>
                        <key>spriteframe</key>
                        <string>idle-0.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>idle-1.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>idle-2.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>idle-3.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>idle-2.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>idle-4.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>idle-5.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>idle-6.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>lastframe</key>
                            <true />
                        </dict>
                    </dict>
                </array>
            </dict>
            <key>run</key>
            <dict>
                <key>delayPerUnit</key>
                <real>0.2</real>
                <key>restoreOriginalFrame</key>
                <true />
                <key>loops</key>
                <integer>1</integer>
                <key>frames</key>
                <array>
                    <dict>
                        <key>spriteframe</key>
                        <string>Walk-0.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>Walk-1.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>Walk-2.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>Walk-3.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>Walk-4.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>lastframe</key>
                            <true />
                        </dict>
                    </dict>
                </array>
            </dict>
            <key>attack-1</key>
            <dict>
                <key>delayPerUnit</key>
                <real>0.1</real>
                <key>restoreOriginalFrame</key>
                <true />
                <key>loops</key>
                <integer>1</integer>
                <key>frames</key>
                <array>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-1-0.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-1-1.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-1-2.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-1-3.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>lastframe</key>
                            <true />
                        </dict>
                    </dict>
                </array>
            </dict>
            <key>attack-2</key>
            <dict>
                <key>delayPerUnit</key>
                <real>0.08</real>
                <key>restoreOriginalFrame</key>
                <true />
                <key>loops</key>
                <integer>1</integer>
                <key>frames</key>
                <array>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-2-0.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-2-1.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-2-2.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-2-3.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-2-4.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-2-5.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-2-6.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-2-7.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>lastframe</key>
                            <true />
                        </dict>
                    </dict>
                </array>
            </dict>
            <key>attack-3</key>
            <dict>
                <key>delayPerUnit</key>
                <real>0.1</real>
                <key>restoreOriginalFrame</key>
                <true />
                <key>loops</key>
                <integer>1</integer>
                <key>frames</key>
                <array>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-3-0.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-3-1.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-3-2.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-3-3.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-3-4.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-3-5.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-3-6.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>attack-3-7.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>lastframe</key>
                            <true />
                        </dict>
                    </dict>
                </array>
            </dict>
            <key>dodge</key>
            <dict>
                <key>delayPerUnit</key>
                <real>0.1</real>
                <key>restoreOriginalFrame</key>
                <true />
                <key>loops</key>
                <integer>1</integer>
                <key>frames</key>
                <array>
                    <dict>
                        <key>spriteframe</key>
                        <string>dodge-0.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>dodge-1.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>dodge-2.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>dodge-3.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>dodge-4.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>lastframe</key>
                            <true />
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
        <key>properties</key>
        <dict>
            <key>spritesheets</key>
            <array>
                <string>Idle.plist</string>
                <string>Walk.plist</string>
                <string>Attack.plist</string>
                <string>Dodge.plist</string>
            </array>
            <key>format</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>