<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>animations</key>
        <dict>
            <key>attack-bullet-1</key>
            <dict>
                <key>delayPerUnit</key>
                <real>0.1</real>
                <key>restoreOriginalFrame</key>
                <true />
                <key>loops</key>
                <integer>1</integer>
                <key>frames</key>
                <array>
                    <dict>
                        <key>spriteframe</key>
                        <string>fireball-01.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>fireball-02.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>fireball-03.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>fireball-04.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>lastframe</key>
                            <true />
                        </dict>
                    </dict>
                </array>
            </dict>
            <key>attack-bullet-2</key>
            <dict>
                <key>delayPerUnit</key>
                <real>0.1</real>
                <key>restoreOriginalFrame</key>
                <true />
                <key>loops</key>
                <integer>1</integer>
                <key>frames</key>
                <array>
                    <dict>
                        <key>spriteframe</key>
                        <string>flameslash-01.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>flameslash-02.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>flameslash-03.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>flameslash-04.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>flameslash-05.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>flameslash-06.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>flameslash-07.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>lastframe</key>
                            <true />
                        </dict>
                    </dict>
                </array>
            </dict>
            <key>attack-bullet-3</key>
            <dict>
                <key>delayPerUnit</key>
                <real>0.1</real>
                <key>restoreOriginalFrame</key>
                <true />
                <key>loops</key>
                <integer>1</integer>
                <key>frames</key>
                <array>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-01.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-02.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-03.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-04.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-05.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-06.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-07.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-08.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-09.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-10.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>frozenspike-11.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>lastframe</key>
                            <true />
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
        <key>properties</key>
        <dict>
            <key>spritesheets</key>
            <array>
                <string>fireball.plist</string>
                <string>FlameSlash.plist</string>
                <string>FrozenSpike.plist</string>
            </array>
            <key>format</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>