<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk-0.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>Walk-1.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{36,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>Walk-2.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{71,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>Walk-3.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{106,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>Walk-4.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{141,1},{33,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false />
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{175,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe25b69018873bc60a3ffc3b72477a6:3b24da2aa3558b650e543529dbb2fbeb:4a890f8c233f38af5674ead3133f1350$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>