<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>animations</key>
        <dict>
            <key>menu_animation</key>
            <dict>
                <key>delayPerUnit</key>
                <real>0.2</real>
                <key>restoreOriginalFrame</key>
                <true />
                <key>loops</key>
                <integer>1</integer>
                <key>frames</key>
                <array>
                    <dict>
                        <key>spriteframe</key>
                        <string>1.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>2.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>firstframe</key>
                            <true />
                        </dict>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>3.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>4.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>5.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>6.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>7.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>8.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>9.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>spriteframe</key>
                        <string>10.png</string>
                        <key>delayUnits</key>
                        <integer>1</integer>
                        <key>notification</key>
                        <dict>
                            <key>lastframe</key>
                            <true />
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
        <key>properties</key>
        <dict>
            <key>spritesheets</key>
            <array>
                <string>Menu.plist</string>
            </array>
            <key>format</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>