<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,1080},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,0},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,270},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,270},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,540},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,540},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,810},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,810},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,1080},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{960,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:346f2173dc3bf859914adcee1a644f6e:5a41f4119d6a727d7c57be4a9c041f70:474a9a58f742d06d2866a4a6eac25590$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
